.table__container {
  height: 40vh;
  overflow-y: scroll;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid #6a5d5d; */
  box-shadow: 0 0 8px -4px #6a5d5d;
}
.table {
  color: #6a5d5d;
  width: 100%;
}

.table tr:nth-child(2n + 1) {
  background-color: #f3f2f8;
}

.table tr {
  margin-top: 0.5rem;
}
.table__tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
