.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}

.app__right {
  flex: 0.3;
  margin-left: 0.5rem;
  height: 100%;
}
.app__left {
  flex: 0.7;
}

.app__rightHeader {
  display: flex;
  align-items: center;
}
.app__rightHeader > * {
  margin-left: 0.3rem;
}

.app__stats {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.app__stats > * {
  margin-left: 0.5rem;
  flex: 1;
}
